In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('Coronavirus_Analysis/company_financial_data_41.csv')
df['yyyy-mm-dd'] = pd.to_datetime(df['yyyy-mm-dd'])

In [24]:
dates = pd.DataFrame(columns=['yyyy-mm-dd'])
dates['yyyy-mm-dd'] = pd.date_range(start="2019-12-31",end="2020-03-31")

In [25]:
i = dates.merge(df, how='left')
i

,yyyy-mm-dd,WMT,CLX,JNJ,PG,ROKU,NFLX,GRUB,AMZN,CPB,...,HLT,MAR,EXPE,CVS,ANTM,HUM,UNH,DFS,BAC,AXP
0,2019-12-31,118.84,153.54,145.87,124.90,133.90,323.57,48.64,1847.84,49.42,...,110.91,151.43,108.14,74.29,302.03,366.52,293.98,84.82,35.22,124.49
1,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,118.94,152.61,145.97,123.41,137.10,329.81,47.24,1898.01,48.49,...,111.45,151.49,110.98,74.16,300.87,363.24,292.50,85.30,35.64,125.85
3,2020-01-03,117.89,152.91,144.28,122.58,137.51,325.90,47.17,1874.97,48.43,...,109.99,149.27,109.13,73.57,296.88,364.86,289.54,83.88,34.90,124.60
4,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2020-03-27,109.58,173.19,123.16,110.17,87.45,357.12,39.16,1900.10,44.19,...,69.15,78.85,60.03,58.60,222.96,297.07,242.45,38.41,21.60,88.73
88,2020-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2020-03-30,115.19,174.48,133.01,115.00,89.61,370.96,39.55,1963.95,46.53,...,68.68,76.16,56.39,59.68,230.58,311.23,251.28,37.59,22.04,90.27
91,2020-03-31,113.62,173.25,131.13,110.00,87.48,375.50,40.73,1949.72,46.16,...,68.24,74.81,56.27,59.33,227.04,314.02,249.38,35.67,21.23,85.61

In [27]:
i.interpolate(method='linear', axis=0).to_csv('company_financial_data_filled_in.csv', index=False)